.section-container {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    /* margin-top: 20px; */
    font-family: "Segoe UI", sans-serif;
  }
  
  .header {
    display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 600;
        color: #007bff;
        margin: 20px 20px;
        width: 50%;
  }
  
  .back-arrow {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    font-size: 1.5rem;
  }
  
  .option-card {
    background-color: #eaf5ff;
    color: #007bff;
    padding: 18px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option-card:hover {
    background-color: #d6edff;
  }
  
  .option-card.active {
    background-color: #007bff;
    color: #fff;
  }
  