<div class="main">
    <div class="row" style="height: 99vh !important; width: 100%;">
        <div class="col-2" style="background-color: white;">
            <div class="icon">
                <img class="logo" src="assets/DentalCare.png" alt="">
            </div>
            <div class="info">
               <!--  <i class="fa-regular fa-hand">👋</i>  -->
                <span class="emoji">👋</span>
                <span>Hello!</span>
                <span>Dr. Dave Affleck</span>
            </div>
            <div class="menu-container">
                <div class="menu-item" [ngClass]="isActive('dashboard')">
                    <span (click)="redirect('dashboard')">Dashboard</span>
                </div>
                <!-- <div class="menu-item" [ngClass]="isActive('patientTreatment')">
                    <span (click)="redirect('patientTreatment')">Patients</span>
                </div> -->
                <div class="menu-item" [ngClass]="isActive('doctor')">
                    <span (click)="redirect('doctor')">Doctors</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('consultation')">
                    <span (click)="redirect('consultation')">Consultations</span>
                </div>
                  <div class="menu-item" [ngClass]="isActive('appointment')">
                    <span (click)="redirect('appointment')">Appointment

                    </span>
                </div>
                <div class="menu-item" [ngClass]="isActive('profile')">
                    <span (click)="redirect('profile')">Profile</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('setting')">
                    <span>Settings</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('login')">
                    <span (click)="logout()">Logout</span>
                </div>
            </div>
        </div>

        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>