<div class="wrap row">
    <div class="col-7 login">
    <form class="logincontent" action="">
            <span class="logo">Login to <span style="color: #007DC6;">DentalCare+</span></span>
            <div class="input">
                <label for="username">User Email</label>
            <input class="input-text" id="username" type="text" placeholder="User Name">
            </div>
            <div class="input">
                <label for="password">Password</label>
            <input class="input-text" id="password" type="password" placeholder="Password">
            </div>
            <div class="button1" style="margin-left: 16px;">
                <button class="button" type="submit">Login</button>
                <span style="margin-left: 24px;color: #007DC6;">I don’t have an account. <b style="cursor: pointer;" (click)="back()">Sign up</b></span>
            </div>
    </form>
    </div>
    <div class="col-5">
        <img class="img" src="assets/login.png" alt="">
    </div>

</div>