<div class="main">
    <div class="row" style="height: 99vh !important; width: 100%;">
        <div class="col-2" style="background-color: white;">
            <div class="icon">
                <img class="logo" src="assets/DentalCare.png" alt="">
            </div>
            <div class="menu-container">
                <div class="menu-item" [ngClass]="isActive('dashboard')">
                    <span (click)="redirect('dashboard')">Dashboard</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('profile')">
                    <span (click)="redirect('profile')">Profile</span>
                </div>

                <div class="menu-item" [ngClass]="isActive('patient')">
                    <span (click)="redirect('patient')">Patients</span>
                </div>

                <div class="menu-item" [ngClass]="isActive('department')">
                    <span (click)="redirect('department')">Department</span>
                </div>
                
             <!--    <div class="menu-item" [ngClass]="isActive('doctor')">
                    <span>Doctors</span>
                </div> -->
                <div class="menu-item" [ngClass]="isActive('clerk')">
                    <span (click)="redirect('clerk')">Clerk</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('test')">
                    <span (click)="redirect('test')">Test</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('report')">
                    <span (click)="redirect('report')">Report</span>
                </div>
                
                  <div class="menu-item" [ngClass]="isActive('detailed-reports')">
                    <span (click)="redirect('detailed-reports')">Detailed Reports</span>
                </div>

                <div class="menu-item" [ngClass]="isActive('report')">
                    <span (click)="logout()">Log Out</span>
                </div>
            </div>
        </div>

        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>