<div class="header1">
    <span class="back-arrow">&#8592;</span>
    <span class="department-name">Prosthodontics and Crown & Bridge</span>
</div>

<div class="container">
    <h2 class="title">Doctor Profile</h2>
    <div class="profile-card">
      <img src="assets/doc3.jpg" alt="Doctor Image" class="profile-pic" />
      <h3>Dr. Dave Affleck</h3>
      <p class="doctor-id">ID: DOC9876</p>
     <!--  <a href="#" class="identity-link">View Identity Card</a> -->
  
      <div class="details">
        <div class="left">
          <h4>Personal details</h4>
          <p><strong>Date of birth:</strong> 29 March 1994</p>
          <p><strong>Gender:</strong> Male</p>
          <p><strong>Marital Status:</strong> Single</p>
          <p><strong>Contact details:</strong></p>
          <p>📞 +91 7879652334</p>
          <p>✉️ daveaffleck@gmail.com</p>
          <p>🏠 High Street, B2B Building, Pune, India - 411190</p>
        </div>
        <div class="right">
          <h4>Professional details</h4>
          <p><strong>Experience (in years):</strong> 2</p>
          <p><strong>Qualification/Degree:</strong> B.D.S.</p>
          <p><strong>Specialization:</strong> Orthodontist</p>
          <p><strong>Biography:</strong> I'm a qualified Orthodontist with 2 years of experience in correcting dental and facial irregularities. I specialize in braces, aligners, and smile design, using modern, patient-focused techniques. Creating confident smiles through personalized care is what I'm most passionate about.</p>
        </div>
      </div>
    </div>
  </div>
  