<div class="mainContainer">
    <div class="top row">
        <div class="col-8">
           <div class="upcomingAppointments">
            <div class="header">
                <span>Upcoming Appointments</span>
            </div>
            <div class="divider">

            </div>

            <div class="appointments">
                    <div class="left">
                        <img src="assets/profile.png" alt="">
                        <div class="details">
                            <span class="name">John Doe</span>
                            <span class="issue">Cavity Filling</span>
                    </div>
                   
            </div>
            <div class="right">
                <span>7th March , 2025</span>
                <span>6:00 am</span>
            </div>
           </div>

           <div class="appointments">
            <div class="left">
                <img src="assets/profile.png" alt="">
                <div class="details">
                    <span class="name">John Doe</span>
                    <span class="issue">Cavity Filling</span>
            </div>
           
    </div>
    <div class="right">
        <span>7th March , 2025</span>
        <span>6:00 am</span>
    </div>
   </div>

   <div class="appointments">
    <div class="left">
        <img src="assets/profile.png" alt="">
        <div class="details">
            <span class="name">John Doe</span>
            <span class="issue">Cavity Filling</span>
    </div>
   
</div>
<div class="right">
    <span>7th March , 2025</span>
    <span>6:00 am</span>
</div>
</div>

<div class="appointments">
    <div class="left">
        <img src="assets/profile.png" alt="">
        <div class="details">
            <span class="name">John Doe</span>
            <span class="issue">Cavity Filling</span>
    </div>
   
</div>
<div class="right">
    <span>7th March , 2025</span>
    <span>6:00 am</span>
</div>
</div>

<div class="appointments">
    <div class="left">
        <img src="assets/profile.png" alt="">
        <div class="details">
            <span class="name">John Doe</span>
            <span class="issue">Cavity Filling</span>
    </div>
   
</div>
<div class="right">
    <span>7th March , 2025</span>
    <span>6:00 am</span>
</div>
</div>
    </div>

    <div class="col-4">

    </div>
</div>