<div class="wrap row">
    <div class="col-7 login">
        <form [formGroup]="loginForm" class="logincontent" (ngSubmit)="onSubmit()">
            <span class="logo">Login to Billing<span style="color: #007DC6;">DentalCare+</span></span>
            <div class="input">
                <label for="username">Accountant Login</label>
                <input class="input-text" id="username" type="text" placeholder="Accountant
                
                Email"
                    formControlName="username">
            </div>
            <div class="input" style="position: relative;">
                <label for="password">Password</label>
                <input class="input-text" id="password" placeholder="Password" formControlName="password"
                    [type]="hidePassword ? 'text' : 'password'">
                <span class="eye" (click)="hidePassword = !hidePassword" style="position: absolute;right: 10px; top: 50%;">
                    <i *ngIf="hidePassword" class="fa-regular fa-eye-slash"></i>
                    <i *ngIf="!hidePassword" class="fa-regular fa-eye"></i>
                </span>
            </div>
            <div class="button1" style="margin-left: 16px;">
                <button class="button" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="col-5">
        <img class="img" src="assets/login.png" alt="">
    </div>

</div>