<div class="login-wrapper">

    <!-- LEFT SIDE -->
    <div class="login-left">
        <div class="login-box">
            <h2 class="title">Login<span class="blue">Admin DentalCare+</span></h2>

            <form [formGroup]="loginForm" class="logincontent" (ngSubmit)="onSubmit()">

                <div class="input">
                    <label for="username">Admin Login</label>
                    <input class="input-text" id="username" type="text" placeholder="Department Email"
                        formControlName="username">
                </div>

                <div class="input" style="position: relative;">
                    <label for="password">Password</label>
                    <input class="input-text" id="password" placeholder="Password" formControlName="password"
                        [type]="hidePassword ? 'text' : 'password'">

                    <span class="eye"
                        (click)="hidePassword = !hidePassword"
                        style="position: absolute; right: 10px; top: 50%;">
                        <i *ngIf="hidePassword" class="fa-regular fa-eye-slash"></i>
                        <i *ngIf="!hidePassword" class="fa-regular fa-eye"></i>
                    </span>
                </div>

                <div class="action-row">
                    <button class="button" type="submit">Login</button>
                </div>

            </form>

        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="login-right">
        <img class="img" src="assets/login.png" alt="">
    </div>

</div>
