table {
    width: 100%;
    background-color: #ffff;
  }

  .main{
    background-color: #fffafa;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    padding: 5% 30px;
  }

  .treatmentIcon{
    font-size: 2rem;
    background-color: #005485;
    color: #ffff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }