<div class="main">
    <div class="row" style="height: 99vh !important; width: 100%;">
        <div class="col-2" style="background-color: white;">
            <div class="icon">
                <img class="logo" src="assets/DentalCare.png" alt="">
            </div>
            <div class="menu-container">
                <div class="menu-item" [ngClass]="isActive('dashboard')">
                    <span (click)="redirect('dashboard')">Dashboard</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('patient')">
                    <span (click)="redirect('patient')">Patients</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('appointment')">
                    <span (click)="redirect('appointment')">Appointments</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('test')">
                    <span (click)="redirect('test')">Test</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('report')">
                    <span (click)="redirect('report')">Report</span>
                </div>
                <div class="menu-item" [ngClass]="isActive('setting')">
                    <span (click)="redirect('setting')"> Settings</span>
                </div>
            </div>
            <div class="bottom-section">
                <button class="logout-btn">Log out</button>
                <div class="department">
                  <i class="fa fa-bell"></i>
                  <span>OMDR department</span>
                </div>
              </div>
        </div>


        
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>