<div class="profile-container">
    <div class="back-icon">
      <mat-icon>arrow_back</mat-icon>
    </div>
  
    <div class="profile-card">
      <div class="header">
        <h2>Patient Profile</h2>
        <span class="status paid">Paid</span>
      </div>
  
      <div class="profile-content">
        <div class="left-panel">
          <img src="assets/doc2.jpg" alt="Profile" class="profile-img" />
          <h3>Vihaan Malhotra</h3>
          <p class="id">ID: 990919</p>
  
          <div class="details">
            <p><strong>Date of birth:</strong> 28 April 1996</p>
            <p><strong>Gender:</strong> Male</p>
            <p><strong>Marital Status:</strong> Single</p>
            <p><strong>Emergency Contact Name:</strong> Rahul Malhotra</p>
            <p><strong>Emergency Contact Number:</strong> 9089876789</p>
          </div>
  
          <div class="contact">
            <p><mat-icon>phone</mat-icon> +91 8908767897</p>
            <p><mat-icon>mail</mat-icon> harrywinston@gmail.com</p>
            <p><mat-icon>location_on</mat-icon> 2A, B-block, FC Road, Pune, India</p>
          </div>
        </div>
  
        <div class="right-panel">
          <p><strong>Chief Complaint</strong></p>
          <p>I have a severe toothache on the right side while eating.</p>
  
          <p><strong>Tests required</strong></p>
          <p>Blood Test</p>
  
          <p><strong>Department</strong></p>
          <p>Oral Medicine & Radiology</p>
  
          <div class="pdf-section">
            <button mat-button class="file-button">
              <mat-icon>insert_drive_file</mat-icon>
              Blood Test Result.pdf
              <mat-icon>cloud_download</mat-icon>
            </button>
  
            <button mat-flat-button color="primary" class="upload-btn">
              <mat-icon>cloud_upload</mat-icon>
              Upload test result
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  