.mainContainer{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientContainer {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    
    .heading {
        width: 100%;
        color: #007DC6;
        font-weight: 600;
        font-size: 2.5rem;
        display: flex;
        justify-content: space-between;
    }

    .patientInfoTabs{
        width: 100%;
        height: 95%;
        padding: 30px;
    }
}



.redirects{
    width: 100%;display: flex;
    gap: 20px;
}

.selectedButton{
    background-color: #005485 !important;
    color: #ffff !important;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.5rem;
}

.unselectedButton{
    background-color: rgba(9, 86, 131, 0.1);
    color: rgba(0, 84, 133, 1);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.5rem;
}

.treatments{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: scroll;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    .treatment{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.noTreatmentMessage{
    margin: auto;
    font-size: 1.5rem;
}


.treatments::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }


.chiefComplaint{
    width: 100%;
    height: 90%;

    .complaint{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.4rem;
        background-color: #F9FAFB;
        border-radius: 10px;
        margin: 10px 0;
    }
}