<div class="mainContainer">

    <div class="patientContainer">
        <div class="heading">
            Patient Information
            <button class="selectedButton" style="width: 20%;" (click)="registerComplaint()">Register Chief Complaint</button>
        </div>



        <div class="patientInfoTabs">
           <div class="redirects">
            <button [ngClass]="isTreatment ? 'selectedButton' : 'unselectedButton'" (click)="changetab()">Treatments</button>
            <button [ngClass]="isTreatment ? 'unselectedButton' : 'selectedButton'" (click)="changetab()">Cheif Complaint</button>
           </div>

          
           <div class="treatments" *ngIf="isTreatment">
            <div class="treatment" *ngIf="treatments.length > 0; else noTreatment">
              <div *ngFor="let item of treatments" class="treatment-card">
                <div class="treatment-info">
                  <h3>{{ item.doctor.treatment_name }}</h3>
                  <p>Date: {{ item.doctor.issue_date | date: 'yyyy-MM-dd' }}</p>
                  <p>Status: {{ item.doctor.status }}</p>
                  <p>Department: {{ item.department.dept_name }}</p>
                </div>
               <!--  <button class="custom-button" (click)="appointment(item)">Create Appointment</button> -->

                <div class="arrow" style="cursor: pointer;">➔</div>
              </div>
              
              </div>
              
              <ng-template #noTreatment>
                <div class="noTreatmentMessage">No treatments for this patient added yet.</div>
              </ng-template>
              

           </div>


      <div class="chiefComplaint" *ngIf="!isTreatment">
  <div class="section-header">
   <!--  <h2>Chief Complaints</h2> -->
  </div>

  <div *ngIf="chiefComplaint.length > 0; else noComplaint" class="complaint-list">
    <div class="complaint-card" *ngFor="let complaint of chiefComplaint">
      <div class="complaint-info">
        <span class="complaintName">{{ complaint.issue_reported }}</span>
        <span class="complaintDate">{{ complaint.reporting_date | date:'dd-MM-yyyy' }}</span>
      </div>

      <div class="complaint-actions">
        <span class="status" [ngClass]="complaint.payment_status.toLowerCase()">
          {{ complaint.payment_status }}
        </span>
        <i 
          class="fa-solid fa-arrow-right start-btn" 
          (click)="startTreatment(complaint)">
        </i>
      </div>
    </div>
  </div>

  <ng-template #noComplaint>
    <div class="noComplaintMessage">
      <i class="fa-solid fa-circle-info"></i>
      <p>No chief complaints for this patient yet.</p>
    </div>
  </ng-template>
</div>

        </div>
    </div>

    
</div>