*{
    top: 0px;
    padding: 0px;
}
.wrapper{
    width: 100%;
    background-color:  #F9FAFB;
    height: 100vh;

}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio:2/2.3;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:white;
    font-family:'Montserrat';
    width: 69% !important;
    height: 69% !important;
    font-size: 16px;
    border-radius: 12px;
    gap: 22px;
}
.input{
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
}
.logo{
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 25px;
    margin-left: 16px;
}

 .policy{
    margin: 10px 18px;
    display: flex;
    gap: 15px;
    font-weight: 600;
    font-family: 'Montserrat';
 }

