<div class="mainContainer">
  <div class="patientContainer">
    <div class="heading">
      <h2>Patient Profile</h2>
    </div>

    <div class="patientInfo">
      <!-- Left Profile -->
      <div class="leftProfile">
        <div class="profileName">
          <img src="assets/img2.png" alt="">
          <span class="name">{{patientInfo?.fullname}}</span>
          <span class="id">ID: {{patientInfo?.userid}}</span>
        </div>

        <div class="details">
          <p><b>Date Of Birth:</b> {{patientInfo?.dob | date:"dd-MM-yyyy"}}</p>
          <p><b>Gender:</b> {{patientInfo?.gender}}</p>
          <p><b>Marital Status:</b> {{patientInfo?.maritalstatus}}</p>
          <p><b>Emergency Contact:</b> {{patientInfo?.emergency_name}}</p>
          <p><b>Emergency Number:</b> {{patientInfo?.emergency_contact}}</p>
        </div>

        <div class="contactDetails">
          <h4>Contact Details</h4>
          <p><i class="fa-solid fa-phone"></i> {{patientInfo?.phone}}</p>
          <p><i class="fa-solid fa-envelope"></i> {{patientInfo?.email}}</p>
          <p><i class="fa-solid fa-house"></i> {{patientInfo?.address}}</p>
        </div>
      </div>

      <!-- Right Form -->
      <div class="rightProfile">
        <form [formGroup]="registerComplaintForm" (ngSubmit)="submitComplaint()">

          <label for="issue">Chief Complaint</label>
          <input class="input-text" id="issue" type="text" placeholder="Issue Reported"
            formControlName="issue_reported">

          <!-- Custom Multi Select -->
          <div class="custom-select">
            <div class="select-box" (click)="showTests = !showTests">
              <span *ngIf="selectedTests?.length; else placeholder">
                {{ selectedTests.length }} Tests Selected
              </span>
              <ng-template #placeholder>
                <span>Select Tests</span>
              </ng-template>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="options" *ngIf="showTests">
              <label *ngFor="let test of testsList">
                <input type="checkbox" [checked]="registerComplaintForm.value.tests?.includes(test.treatment_id)"
                  (change)="onTestSelectionChange($event, test.treatment_id)">
                {{ test.treatment_name }} (₹{{ test.treatment_price }})
              </label>
            </div>

          </div>

          <!-- Custom Dropdown Payment Mode -->
          <div class="custom-select">
            <div class="select-box" (click)="showPayments = !showPayments">
              <span>{{ registerComplaintForm.value.payment_mode || 'Select Payment Mode' }}</span>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="options" *ngIf="showPayments">
              <label *ngFor="let mode of payment_mode">
                <input type="radio" name="payment" [value]="mode"
                  (change)="registerComplaintForm.patchValue({payment_mode: mode}); showPayments=false;">
                {{ mode }}
              </label>
            </div>
          </div>

          <div class="charges">
            <b>Total Charges:</b> ₹{{ registerComplaintForm.getRawValue().total_charge || 0 }}
          </div>

          <button type="submit" class="submit-btn">Register Complaint</button>
        </form>
      </div>
    </div>
  </div>
</div>