<div class="dashboard">
    <div class="bellicon">
        <i class="far fa-bell new"></i>
    </div>

    <div class="proleft">
        <span class="text1">Upcoming Appointments</span>
        <hr class="divider">
        <div class="profile-list">
            <div class="profile">
                <img src="assets/img3.png" alt="" class="images">
                <div class="details">
                    <span class="name">Sonia Singh</span>
                    <span class="extra">Cavity Filling</span>
                </div>
            </div>

            <div class="profile">
                <img src="assets/img2.png" alt="" class="images">
                <div class="details">
                    <span class="name">Carl Rogers</span>
                    <span class="extra">Tooth Extraction</span>
                </div>
            </div>

            <div class="profile">
                <img src="assets/img1.png" alt="" class="images">
                <div class="details">
                    <span class="name">Hania Khan</span>
                    <span class="extra">Dental Implants</span>
                </div>
            </div>
        </div>


        <div class="profile-list2">
            <div class="profile1">
                <span class="date">7th Mar, 2025</span>
                <span class="time">9:00 am</span>
            </div>
            <div class="profile1">
                <span class="date">7th Mar, 2025</span>
                <span class="time">9:00 am</span>
            </div>
            <div class="profile1">
                <span class="date">7th Mar, 2025</span>
                <span class="time">9:00 am</span>
            </div>
        </div>

    </div>

    <div class="doctor-profile">
        <img class="logo" src="assets/logo.png" alt="">
        <h2 class="name">Dr. Dave Affleck</h2>
        <p class="info">Orthodontist</p>
    </div>

</div>