<div class="mainContainer">
    <div class="activity row">
        <div class="col-8">
            <div style="width: 90%; background-color: white; border-radius: 10px;padding: 20px; position: relative;display: flex; flex-direction: column;">
                <span style="color:#007DC6 ; font-size: 2.5rem; font-weight: 600; margin-bottom: 20px;">Department Appointments</span>
                <div class="range-dropdown">
                    <select (change)="onRangeChange($event)">
                      <option value="today">Today</option>
                      <option value="1week">1 Week</option>
                      <option value="1month">1 Month</option>
                      <option value="1year">1 Year</option>
                    </select>
                  </div>
                  
                <canvas baseChart
                        [datasets]="pieChartData"
                        [labels]="pieChartLabels"
                        [type]="pieChartType">
                </canvas>
              </div>
        </div>

        <div class="col-4">
            <div class="departmentList">
                <div class="departmentInfo">
                    <span style="color: #007DC6; font-weight: 600; font-size: 1.9rem;">Departmental List With Hod</span>
                    <div class="department">

                        <span>Prosthodontics and Crown & Bridge</span>
                        <div class="hod">
                            <img src="assets/img1.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. Shamsiya Khan</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                        

                    </div>

                    <div class="department">
                        <span>Periodontology</span>
                        <div class="hod">
                            <img src="assets/img2.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. Fareeha Choglay</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                    </div>

                    <div class="department">
                        <span>Conservative Dentistry & Endodontics</span>
                        <div class="hod">
                            <img src="assets/img3.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. Shayban Khan</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                    </div>

                    <div class="department">
                        <span>Oral & Maxillofacial Surgery</span>
                        <div class="hod">
                            <img src="assets/img2.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. John Doe</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                    </div>

                    <div class="department">
                        <span>Orthodontics & Dentofacial Orthopedics</span>
                        <div class="hod">
                            <img src="assets/img1.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. John Doe</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                    </div>

                    <div class="department">
                        <span>Paedodontics & Preventive Dentistry</span>
                        <div class="hod">
                            <img src="assets/img3.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. John Doe</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                    </div>

                    <div class="department">
                        <span>Oral Medicine & Radiology</span>
                        <div class="hod">
                            <img src="assets/img1.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. John Doe</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                    </div>

                    <div class="department">
                        <span>Oral Pathology & Microbiology</span>
                        <div class="hod">
                            <img src="assets/img2.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. John Doe</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>
                    </div>

                    <div class="department">
                        <span>Public Health Dentistry</span>
                        <div class="hod">
                            <img src="assets/img3.png" alt="">
                            <div class="hodInfo">
                                <span class="hodName">Dr. John Doe</span>
                                <span class="hodSpecialization">Cardilogist</span>
                            </div>
                        </div>  
                    </div>
                   
                   
                   
                    
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
 
</div>

