<div class="main">
    <div class="head">
        <span>
            Patient Registration Form
        </span>
        <img src="" alt="">
    </div>

    <div class="row">
        <div class="col-4">
            <div class="input">
                <label for="password">Password</label>
            <input class="input-text" id="password" type="password" placeholder="Password">
            </div>
            </div>
        

        <div class="col-4">
            <div class="input">
                <label for="password">Password</label>
            <input class="input-text" id="password" type="password" placeholder="Password">
            </div>
            </div>
        

       
        <div class="col-4">
            <div class="input">
                <label for="password">Password</label>
            <input class="input-text" id="password" type="password" placeholder="Password">
            </div>
            </div>
       

       

    </div>


    <div class="row">
        <div class="col-6">
            
                <div class="input">
                    <label for="password">Password</label>
                <input class="input-text" id="password" type="password" placeholder="Password">
                </div>
        </div>
        <div class="col-6">
            
                <div class="input">
                    <label for="password">User Email</label>
                <input class="input-text" id="text" type="password" placeholder="Password">
                </div>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            
                <div class="input">
                    <label for="password">Emergebcy contact name</label>
                <input class="input-text" id="password" type="password" placeholder="Password">
                </div>
        </div>
        <div class="col-6">
            
                <div class="input">
                    <label for="password">Emergebcy contact number</label>
                <input class="input-text" id="text" type="password" placeholder="Password">
                </div>
        </div>
    </div>


    <div class="row"></div>
        <div class="col-12">
            
                <div class="input">
                    <label for="password">Emergebcy contact name</label>
                <input class="input-text" id="password" type="password" placeholder="Password">
                </div>
        </div>
     
    </div>
