.container {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #007DC6;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  input, select, textarea {
    padding: 10px;
    font-size: 1.1rem;
    margin: 5px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007DC6;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  