.bellicon{
    position: relative;

      font-size: 2rem;
      top: 10px;
      width: 100%;
      text-align: end;
  }
  /* .main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
  }
  .doc1{
    
    color: #007DC6;
    
  }
   */
   .main {
    position: relative;
    padding: 0px;
    background-color: white;
    width: 80%;
    border-radius: 8px;
    left: 10%;
    top: 50px;
  }
  
  .doc1 {
    display: flex;
    align-items: center;
    gap: 80%;
    justify-content: space-around;
    padding-top: 30px;
  }
  
  .doc1 span {
    font-size: 24px;
    color: #007bdb;
    font-weight: 600;
  }
  
  .doc1 img {
    width: 32px;
    height: 32px;
    background-color: #007bdb;
    border-radius: 8px;
    padding: 4px;
  }

  
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    background-color: #007bdb;
    color: white;
    border-radius: 6px;
  }

  ::ng-deep .mat-tab-labels {
    width: 30%;
    background: white;
    margin-left: 30px;
    border-radius: 10px;
    color: #007bdb;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #8080800a;
    border-radius: 8px;
}
  
.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 cards per row */
  gap: 20px;
  padding: 20px;
}

.card {
  background-color:#e8f0f8;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  border: none;
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  left: 45px;
  
}

.card h3 {
  font-size: 14px;
  margin: 8px 0 4px;
}

.card p {
  font-size: 12px;
  color: #666;
  margin: 0;
}

 

  

  
  