<div class="bellicon">
  <i class="far fa-bell new"></i>
</div>

<div class="main">
  <div class="doc1">
    <span>Doctor</span>
    <img src="assets/add.svg" alt="">
  </div>

  <mat-tab-group>
    <mat-tab label="This department"> <!-- This department doctors list...  -->


      <div class="card-container">
        <div class="card" *ngFor="let doctor of doctors">
          <img src="assets/doc1.jpg" alt="">
          <h3>{{doctor.doctor.fullname}}</h3>
          <p>{{doctor.doctor.specialization}}</p>
        </div>

      </div>
    </mat-tab>
    <!-- Other department doctors list... -->
<!--     <mat-tab label="Other departments"> 
      <div class="container">
        <div class="form-group">
          <label>Department</label>
          <select (change)="onDepartmentChange($event)">
            <option *ngFor="let dept of departments" [value]="dept.dept_id">
              {{ dept.dept_name }}
            </option>
          </select>
        </div>
       
      </div>


    </mat-tab> -->
  </mat-tab-group>






</div>