<div class="bellicon">
    <i class="far fa-bell new"></i>
</div>

<div class="main">
    <div class="doc1">
        <span>Doctor</span>
        <img src="assets/add.svg" alt="">
    </div>   

   <!--  <mat-tab-group>
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group> -->

      <mat-tab-group>
        <mat-tab label="This department"> This department doctors list... </mat-tab>
        <mat-tab label="Other departments"> Other department doctors list...</mat-tab>
      </mat-tab-group>
      

      <div class="card-container">
        <div class="card">
          <img src="assets/doc1.jpg" alt="">
          <h3>Dr. Arvind Kapoor</h3>
          <p>Cardiologist</p>
        </div>

        <div class="card">
            <img src="assets/doc2.jpg" alt="">
            <h3>Dr. Arvind Kapoor</h3>
            <p>Cardiologist</p>
          </div>

          <div class="card">
            <img src="assets/doc3.jpg" alt="">
            <h3>Dr. Arvind Kapoor</h3>
            <p>Cardiologist</p>
          </div>

          <div class="card">
            <img src="assets/doc4.jpg" alt="">
            <h3>Dr. Arvind Kapoor</h3>
            <p>Cardiologist</p>
          </div>

          <div class="card">
            <img src="assets/doc5.jpg" alt="">
            <h3>Dr. Arvind Kapoor</h3>
            <p>Cardiologist</p>
          </div>

          <div class="card">
            <img src="assets/doc1.jpg" alt="">
            <h3>Dr. Arvind Kapoor</h3>
            <p>Cardiologist</p>
          </div>
  
          <div class="card">
              <img src="assets/doc2.jpg" alt="">
              <h3>Dr. Arvind Kapoor</h3>
              <p>Cardiologist</p>
            </div>
  
            <div class="card">
              <img src="assets/doc3.jpg" alt="">
              <h3>Dr. Arvind Kapoor</h3>
              <p>Cardiologist</p>
            </div>
  
            <div class="card">
              <img src="assets/doc4.jpg" alt="">
              <h3>Dr. Arvind Kapoor</h3>
              <p>Cardiologist</p>
            </div>
  
            <div class="card">
              <img src="assets/doc5.jpg" alt="">
              <h3>Dr. Arvind Kapoor</h3>
              <p>Cardiologist</p>
            </div>
            <div class="card">
              <img src="assets/doc1.jpg" alt="">
              <h3>Dr. Arvind Kapoor</h3>
              <p>Cardiologist</p>
            </div>
    
            <div class="card">
                <img src="assets/doc2.jpg" alt="">
                <h3>Dr. Arvind Kapoor</h3>
                <p>Cardiologist</p>
              </div>
    
              <div class="card">
                <img src="assets/doc3.jpg" alt="">
                <h3>Dr. Arvind Kapoor</h3>
                <p>Cardiologist</p>
              </div>
    
              <div class="card">
                <img src="assets/doc4.jpg" alt="">
                <h3>Dr. Arvind Kapoor</h3>
                <p>Cardiologist</p>
              </div>
    
              <div class="card">
                <img src="assets/doc5.jpg" alt="">
                <h3>Dr. Arvind Kapoor</h3>
                <p>Cardiologist</p>
              </div>

          

        
      </div>
      
      
      
</div>