<div class="mainContainer">
    <div class="patientContainer">
        <div class="heading">
            <span>Patients</span>
        </div>


        <div class="patientList">

            <div class="patientInfo" *ngFor="let patient of patients" (click)="redirectToPatientInfo(patient.userid)">
                <img src="assets/doc1.jpg" alt="" class="patientImg">
                <span class="patientName">{{patient.fullname}}</span>
                <span class="id">Id:{{patient.userid}}</span>
            </div>

        </div>
    </div>
</div>