.main{
    width: 100%;
    height: 99vh;
    .leftMenus{
        width: 15%;
        height: 100%;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        span{
            border: 1px solid rgb(226, 222, 222);
             box-shadow: inset 0 4px 8px rgba(177, 175, 175, 0.3);
             padding: 5px;
             border-radius: 10px;
             cursor: pointer;
        }
    }
}